.input-field input{
    border-radius: 6px;
    padding: 6px 0px;
    padding-left: 1.5em;
    margin-bottom: 10px;
}
header{
    text-align: center;
}
::placeholder{
    font-family: 'Times New Roman', Times, serif;
    color: ;
}
.input-field label{
    color: black;
    font-size: large;
}